/*temporal*/

div {
  border: 1px solid black;
}

/* starting css */

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wannaPlay {
  background-color: cyan;
  margin: 10%;
  color: red;
  text-align: center;
}

.gameStart {
  border: 2px solid blue;
  margin: 0 15%;
  padding: 2%;
  text-align: center;
  background-color: red;
  flex-grow:
}

.instructions {
  text-align: center;
  margin: 5%
}
